<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="keywordsprovider" name="%extension-point.name" schema="schema/keywordsprovider.exsd"/>
      <extension
            point="org.eclipse.ui.contexts">
         <context
               description="Edit R Source"
               id="org.eclipse.dltk.ui.rEditorScope"
               name="Editing R Source"
               parentId="org.eclipse.dltk.ui.scriptEditorScope">
         </context>
      </extension>
 <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.blogspot.miguelinlas3.r.eclipse.rcategory"
            name="%category.name">
      </category>
      <wizard
            category="com.blogspot.miguelinlas3.r.eclipse.rcategory"
            class="org.eclipse.dltk.ui.wizards.GenericDLTKProjectWizard:r.core.nature"
            descriptionImage="icons/wizban/RFileWizard.jpg"
            finalPerspective="com.blogspot.miguelinlas3.eclipse.r.ui.perspectives"
            icon="icons/R.jpg"
            id="com.blogspot.miguelinlas3.r.eclipse.rwizard"
            name="%wizard.name"
            project="true">
      </wizard>
      <wizard
            category="com.blogspot.miguelinlas3.r.eclipse.rcategory"
            class="com.blogspot.miguelinlas3.r.eclipse.ui.wizards.RFileCreationWizard"
            icon="icons/R.jpg"
            id="com.blogspot.miguelinlas3.eclipse.r.ui.wizards.RScriptFileCreationWizard"
            name="%wizard.name.0">
      </wizard>
   </extension>

 <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="com.blogspot.miguelinlas3.r.eclipse.ui.RUILanguageToolkit"
            nature="r.core.nature"
            priority="0">
      </language>
   </extension>
   
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.blogspot.miguelinlas3.r.eclipse.ui.editor.REditor"
            default="false"
            icon="icons/R-reduced.jpg"
            id="com.blogspot.miguelinlas3.r.eclipse.editor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="com.blogspot.miguelinlas3.r.eclipse.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.blogspot.miguelinlas3.r.eclipse.preferences.RUIPreferenceInitializer">
      </initializer>
   </extension>
   
      <extension
            point="org.eclipse.ui.console.consoleFactories">
         <consoleFactory
               class="com.blogspot.miguelinlas3.r.eclipse.ui.console.factory.RConsoleFactory"
               label="%consoleFactory.label">
         </consoleFactory>
      </extension>
      <extension
            point="org.eclipse.dltk.console.ui.scriptConsole">
         <scriptConsole
               class="com.blogspot.miguelinlas3.r.eclipse.ui.console.factory.RConsoleFactory"
               natureID="r.core.nature">
         </scriptConsole>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               categoryId="org.eclipse.debug.ui.category.run"
               description="%command.description"
               id="com.blogspot.miguelinlas3.eclipse.r.ui.console.launchShortcut.run"
               name="%command.name">
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.actionSetPartAssociations">
         <actionSetPartAssociation
               targetID="org.eclipse.debug.ui.launchActionSet">
            <part
                  id="com.blogspot.miguelinlas3.r.eclipse.editor">
            </part>
         </actionSetPartAssociation>
      </extension>
      <extension
            point="org.eclipse.debug.ui.launchConfigurationTabGroups">
         <launchConfigurationTabGroup
               class="com.blogspot.miguelinlas3.r.eclipse.ui.launch.RLaunchConfigurationTabGroup"
               id="com.blogspot.miguelinlas3.eclipse.r.ui.internal.debug.launchConfigurations.RTabGroup"
               type="com.blogspot.miguelinlas3.eclipse.r.launching.RLaunchConfigurationType">
         </launchConfigurationTabGroup>
      </extension>
      <extension
            point="org.eclipse.ui.perspectives">
         <perspective
               class="com.blogspot.miguelinlas3.r.eclipse.ui.perspective.RPerspective"
               icon="icons/R.jpg"
               id="com.blogspot.miguelinlas3.eclipse.r.ui.perspectives"
               name="%perspective.name">
         </perspective>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               class="com.blogspot.miguelinlas3.r.eclipse.preferences.internal.RGlobalPreferencesPage"
               id="com.blogspot.miguelinlas3.r.eclipse.preferences"
               name="%page.name">
         </page>
         <page
               category="com.blogspot.miguelinlas3.r.eclipse.preferences"
               class="com.blogspot.miguelinlas3.r.eclipse.preferences.REditorPreferencesPage"
               id="com.blogspot.miguelinlas3.r.eclipse.editor.preferences"
               name="%page.name.0">
         </page>
         <page
               category="com.blogspot.miguelinlas3.r.eclipse.editor.preferences"
               class="com.blogspot.miguelinlas3.r.eclipse.preferences.internal.REditorSyntaxColoringPreferencePage"
               id="com.blogspot.miguelinlas3.r.eclipse.editor.syntax.coloring"
               name="%page.name.1">
         </page>
         <page
               category="com.blogspot.miguelinlas3.r.eclipse.editor.preferences"
               class="com.blogspot.miguelinlas3.r.eclipse.ui.templates.RTemplatePreferencePage"
               id="com.blogspot.miguelinlas3.r.eclipse.templates.preferences"
               name="%page.name.2">
         </page>
         <page
               category="com.blogspot.miguelinlas3.r.eclipse.preferences"
               class="com.blogspot.miguelinlas3.r.eclipse.preferences.RFormatterPreferencePage"
               id="com.blogspot.miguelinlas3.eclipse.r.ui.preferences.formatter"
               name="%page.name.3">
         </page>
      </extension>
      <extension
            point="org.eclipse.ui.editors.templates">
         <contextType
               class="com.blogspot.miguelinlas3.r.eclipse.ui.templates.RUniversalTemplateContextType"
               id="rUniversalTemplateContextType"
               name="%r.template.context.name">
         </contextType>
         <include
               file="templates/templates.xml"
               translations="templates/templates.properties">
         </include>
      </extension>
      <extension
            point="org.eclipse.ui.propertyPages">
         <page
               class="com.blogspot.miguelinlas3.r.eclipse.preferences.RPropertyPage"
               id="com.blogspot.eclipse.r.ui.property.page"
               name="%r.property.page">
         </page>
         <page
               category="com.blogspot.eclipse.r.ui.property.page"
               class="com.blogspot.miguelinlas3.r.eclipse.preferences.RFormatterPreferencePage"
               id="com.blogspot.eclipse.r.ui.property.page.format"
               name="%r.property.page.formatter">
         </page>
      </extension>
      <extension
            id="rTypeCompletionProposalComputer"
            point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
         <scriptCompletionProposalComputer
               categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
               class="com.blogspot.miguelinlas3.r.eclipse.ui.text.completion.RCompletionProposalComputer"
               toolkitId="r.core.nature">
            <partition
                  type="__dftl_partition_content_type">
            </partition>
         </scriptCompletionProposalComputer>
      </extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="org.eclipse.dltk.ui.edit.text.script.format"
               contextId="org.eclipse.dltk.ui.rEditorScope"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+M2+F">
         </key>
         
         <key
              commandId="org.eclipse.dltk.ui.edit.text.script.format"
              contextId="org.eclipse.dltk.ui.rEditorScope"
              platform="gtk"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="ESC CTRL+F">
        </key> 
      </extension>
      <!-- <extension
            point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:org.eclipse.dltk.ui.source.menu?after=editGroup">     
			<command commandId="org.eclipse.dltk.ui.edit.text.script.format" />
			 <separator name="formatGroup" visible="true" />			
		</menuContribution>
      </extension> -->

   
</plugin>
