<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.ui.formatterFactory">
      <engineContribution
            natureId="r.core.nature">
         <formatterFactory
               class="com.blogspot.miguelinlas3.eclipse.r.formatter.factory.RFormatterFactory"
               description="R Source code formatter"
               id="r.formatter.formatterFactory1"
               name="R Formatter"
               priority="10">
         </formatterFactory>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.blogspot.miguelinlas3.eclipse.r.formatter.initializers.RFormatterPreferencesInitializer">
      </initializer>
   </extension>
  


</plugin>
